*, *:before, *:after{
    box-sizing: border-box;
}
body{
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    
    p {
       font-family: Arial, sans-serif;
       font-size: 24px;
       font-weight: 100;
       color: #444;
    }
}

#fullpage{
    width: 100%;
}

.link{
    transition: .3s;
    color: $themme-light-font;
    
    &:hover, &:active, &:focus{
        color: $theme-main-color;
    }
}

.list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;    
}

h1{
    margin: 0;
    font-weight: normal; 
}

.header{
    font-weight: 700;
    font-size: 64px;
    text-transform: uppercase;
    color: $theme-main-color;
}