.navigation{
    position: fixed;
    top: $view-border-width;

    &__link{
        display: block;
        padding: 30px 15px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    &--left{
        left: $view-border-width + 15px;

        a{
            font-weight: 100;
            font-size: 20px;
            letter-spacing: 3px;
        }
    }

    &--right{
        right: $view-border-width + 20px;

        // &.Home [href$=Home],
        &.WhoWeAre [href$=WhoWeAre],
        &.WhatWeDo [href$=WhatWeDo],
        &.Projects [href$=Projects],
        &.OurClients [href$=OurClients],
        &.Contact [href$=Contact] {
            color: $theme-main-color;
        }
    }

    &__list{
        padding: 0 25px 0 0;
    }

    &__logo{
        height: 18px;
        margin-right: 10px;

        &-link{
            display: flex;
            align-items: center;
            padding-left: 20px;
        }
    }
}