.projects{
    background: url('/images/projects.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
}

.project{
    width: 70vw;
    height: 400px;
    margin-left: 100px;
    position: relative;
    // background: rgba(black, 0.7);
    background: url('/images/about.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;

    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 20px;
        background: $theme-main-color;
        display: block;
    }
    
    &__content{
        flex-grow: 1;
        display: flex;
        // flex-direction: column;
        // align-items: flex-start;
        justify-content: space-between;
        padding: 40px 40px 40px 130px;
    }

    &__column{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // justify-content: space-between;
    }
    
    &__right{
        width: 200px;
        background: $theme-main-color;
    }

    &__name{
        color: $theme-main-color;
        font-size: 50px;
        font-weight: bold;
        flex-grow: 1;
    }

    &__visit{
        font-size: 24px;
        opacity: 0.7;
        font-weight: 100;

        i{
            margin-right: 5px;
        }
    }

    &__date{

    }

    &__number{
        display: flex;
        align-items: flex-start;
        margin-bottom: 25px;

        &--current{
            color: darken($themme-light-font, 20%);
            font-size: 36px;
        }
        
        &--left{
            color: darken($theme-main-color, 15%);
            margin-top: 3px;
            font-size: 16px;
            margin-left: 5px;
        }
    }
}