.projects{
    background: url('/images/projects.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
}

.project{
    width: 65vw;
    height: 400px;
    margin-left: 10vw;
    position: relative;
    background: url('/images/about.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;

    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 20px;
        background: $theme-main-color;
        display: block;
    }
    
    &__content{
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        padding: 30px 30px 40px 130px;
    }

    &__column{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    &__right{
        width: 200px;
        background: $theme-main-color;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px 20px 20px 30px;
        cursor: pointer;
        transition: .3s;

        &:hover{
            background: lighten($theme-main-color, 10%);

            .project__next__arrow{
                animation: moving-arrow 1s infinite;
            }
        }
    }

    &__name{
        color: $theme-main-color;
        font-size: 50px;
        font-weight: bold;
        flex-grow: 1;
    }

    &__visit{
        font-size: 24px;
        opacity: 0.7;
        font-weight: 100;

        i{
            margin-right: 5px;
        }
    }

    &__date{
        color:$themme-light-font;
    }

    &__number{
        display: flex;
        align-items: flex-start;
        margin-bottom: 25px;

        &--current,
        &--next{
            font-size: 40px;            
        }

        &--current{
            color: darken($themme-light-font, 20%);
        }

        &--next{
            font-weight: bold;
        }
        
        &--left{
            color: darken($theme-main-color, 15%);
            margin-top: 3px;
            font-size: 16px;
            margin-left: 5px;
        }
    }

    &__next{
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__name{
            text-align: left;
        }

        &__arrow{
            font-size: 60px;        
            transition: .3s;    
        }
    }
}

@keyframes moving-arrow{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(3px);
    }
}