.social{
    &__list{
        position: fixed;
        bottom: $view-border-width;
        left: $view-border-width;
    }
    
    &__link{
        padding: 25px 15px 25px 30px;
        font-size: 22px;
    }
}