.view{
    background: $view-border-color;
    padding: $view-border-width; 
    display: flex !important;

    & > div{
        background: $view-content-background;
        width: 100%;
        height: 100% !important;
        position: relative;
    }

    &__content{
        height: 100%;

        #canvas{
            height: 100%;
        }
    }
}